@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --muted-color: #eee;
  --main-color: #3b82f6;
  --hover-color: #2d5eac;
  --second-color: #cadcee;
  --black-color: #000;
  --button-color: #5b5b5b;
  --paragraph-color: #919191;
}

:root html,
:root body,
:root ul,
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root ol {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
  background-color: #f8fafc;
}

#about {
  margin-bottom: 100px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  background-color: white;
}
#about.fade-in {
  opacity: 1;
  transform: translateY(0);
}
#about .wrapper .inner .content .about-header {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
}
#about .wrapper .inner .content .about-header .header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
#about .wrapper .inner .content .about-header .divider {
  width: 100px;
  height: 4px;
  background-color: var();
  margin: 0 auto;
  margin: 10px auto;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  background-color: var(--main-color);
}
#about .wrapper .inner .content .about-header .about-p {
  margin: 0;
}
