@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --muted-color: #eee;
  --main-color: #5271ff;
  --black-color: #000;
  --button-color: #5b5b5b;
}

:root html,
:root body,
:root ul,
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root ol {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

#contact .contact-wrapper {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
}
#contact .contact-wrapper .contact-inner .contact-content {
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-header {
  text-align: center;
  margin-bottom: 60px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-header h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #333;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 70px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  font-family: "Maven Pro", sans-serif;
  opacity: 0;
  padding: 20px;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
@media screen and (min-width: 712px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card {
    padding: 30px;
  }
}
@media screen and (min-width: 1024px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card {
    padding: 40px;
  }
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role {
  text-align: left;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role h2 {
  font-size: 1.9rem;
  font-weight: 200;
  color: #333;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #666;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 20px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li {
  margin: 0 10px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a {
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #007bff;
  padding-top: 20px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
