@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --muted-color: #eee;
  --main-color: #5271ff;
  --black-color: #000;
  --button-color: #5b5b5b;
}

:root html,
:root body,
:root ul,
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root ol {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
  background-color: #F6F5F2;
}

#contact {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  background-color: #F6F5F2;
}
#contact.fade-in {
  opacity: 1;
  transform: translateY(0);
}
#contact .contact-wrapper {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
}
#contact .contact-wrapper .contact-inner .contact-content {
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-header {
  text-align: center;
  margin-bottom: 60px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-header h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #333;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 20px;
  padding-bottom: 70px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: auto;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  font-family: "Maven Pro", sans-serif;
  opacity: 0;
  padding: 20px;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
@media screen and (min-width: 712px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card {
    gap: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card {
    gap: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role h2 {
  font-size: 1.5rem;
  font-weight: 200;
  color: #333;
  margin-top: 20px;
  margin-bottom: 5px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role p {
  font-size: 1rem;
  margin: 0;
  color: #666;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role p a {
  text-decoration: none;
  color: #0056b3;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role .role {
  margin-bottom: 15px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .name-role .divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media screen and (min-width: 712px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul {
    flex-direction: column;
  }
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li {
  margin: 0 10px;
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #666;
}
@media screen and (min-width: 712px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a {
    padding-left: 40px;
    display: flex;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a {
    padding-left: 40px;
    display: flex;
    padding-top: 20px;
  }
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a span {
  display: none;
}
@media screen and (min-width: 712px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a span {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a span {
    display: inline-block;
  }
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a img {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 712px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a img {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  #contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a img {
    margin-right: 5px;
  }
}
#contact .contact-wrapper .contact-inner .contact-content .contact-form .contact-card .social-media ul li a:hover {
  color: #0056b3;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
