@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --muted-color: #eee;
  --main-color: #3b82f6;
  --hover-color: #2d5eac;
  --second-color: #cadcee;
  --black-color: #000;
  --button-color: #5b5b5b;
  --paragraph-color: #919191;
}

:root html,
:root body,
:root ul,
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root ol {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
  background-color: #f8fafc;
}

#hero {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  margin-bottom: 200px;
}
#hero.fade-in {
  opacity: 1;
  transform: translateY(0);
}
#hero .hero-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
#hero .hero-wrapper .hero-inner .hero-content {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  grid-template-areas: "intro myImage";
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
  margin: 100px 15px 0 15px;
}
@media screen and (min-width: 712px) {
  #hero .hero-wrapper .hero-inner .hero-content {
    display: flex;
    flex-direction: column;
    grid-template-areas: "intro" "myImage";
    grid-gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #hero .hero-wrapper .hero-inner .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro myImage";
  }
}
#hero .hero-wrapper .hero-inner .hero-content .intro {
  grid-area: intro;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 100px;
}
@media screen and (min-width: 712px) {
  #hero .hero-wrapper .hero-inner .hero-content .intro {
    padding-top: 270px;
    padding-left: 20px;
    padding-right: 60px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  #hero .hero-wrapper .hero-inner .hero-content .intro {
    padding: 0;
    padding-top: 170px;
  }
}
#hero .hero-wrapper .hero-inner .hero-content .intro .intro-text {
  margin: 0;
  font-size: 1.3rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  color: var(--main-color);
}
#hero .hero-wrapper .hero-inner .hero-content .intro .intro-title {
  font-size: 46px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
@media screen and (min-width: 712px) {
  #hero .hero-wrapper .hero-inner .hero-content .intro .intro-title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  #hero .hero-wrapper .hero-inner .hero-content .intro .intro-title {
    font-size: 65px;
  }
}
#hero .hero-wrapper .hero-inner .hero-content .intro .intro-subtitle {
  line-height: 1.3rem;
  font-size: 1rem;
  max-width: 600px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}
#hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons {
  display: flex;
  gap: 15px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2s forwards;
}
#hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .g-intouch, #hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .v-work {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 200;
  transition: all 0.5s ease;
}
@media screen and (min-width: 712px) {
  #hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .g-intouch, #hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .v-work {
    padding: 18px 25px;
  }
}
@media screen and (min-width: 1024px) {
  #hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .g-intouch, #hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .v-work {
    padding: 18px 25px;
  }
}
#hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .g-intouch {
  color: #fff;
  background-color: var(--main-color);
}
#hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .g-intouch:hover {
  color: #fff;
  background-color: var(--hover-color);
}
#hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .v-work {
  color: var(--main-color);
  background-color: transparent;
  border: 2px solid var(--main-color);
}
#hero .hero-wrapper .hero-inner .hero-content .intro .d-buttons .v-work:hover {
  background-color: var(--main-color);
  color: #fff;
}
#hero .hero-wrapper .hero-inner .hero-content .intro .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
#hero .hero-wrapper .hero-inner .hero-content .intro .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--main-color);
  font-size: 1.9rem;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}
#hero .hero-wrapper .hero-inner .hero-content .intro .social-icons a:hover {
  transform: scale(1.2);
  background-color: var(--main-color);
  color: #fff;
}
#hero .hero-wrapper .hero-inner .hero-content .myImage {
  grid-area: myImage;
  display: flex;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2.5s forwards;
}
@media screen and (min-width: 712px) {
  #hero .hero-wrapper .hero-inner .hero-content .myImage {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  #hero .hero-wrapper .hero-inner .hero-content .myImage {
    display: block;
  }
}
#hero .hero-wrapper .hero-inner .hero-content .myImage .hero-logo {
  width: 320px;
  height: 380px;
  margin: 0 auto;
}
@media screen and (min-width: 712px) {
  #hero .hero-wrapper .hero-inner .hero-content .myImage .hero-logo {
    width: 400px;
    height: 400px;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  #hero .hero-wrapper .hero-inner .hero-content .myImage .hero-logo {
    width: 500px;
    height: 450px;
    display: block;
    padding-top: 140px;
  }
}

#name {
  transition: opacity 1s ease-in-out;
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
}
#name.fade-out {
  opacity: 0;
}
#name.fade-in {
  opacity: 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
