@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --muted-color: #eee;
  --main-color: #5271ff;
  --black-color: #000;
  --button-color: #5b5b5b;
}

:root html,
:root body,
:root ul,
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root ol {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

#projects {
  margin: 100px 0 100px 0;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
#projects.fade-in {
  opacity: 1;
  transform: translateY(0);
}
#projects.fade-out {
  opacity: 0;
  transform: translateY(30px);
}
#projects .wrapper .inner {
  max-width: 1200px;
  margin: 0 auto;
}
#projects .wrapper .inner .content .projects-header {
  text-align: center;
  margin: 10px;
}
#projects .wrapper .inner .content .projects-header h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #333;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
#projects .wrapper .inner .content .projects-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  row-gap: 40px;
  margin: 100px 25px 30px 25px;
}
@media screen and (min-width: 712px) {
  #projects .wrapper .inner .content .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  #projects .wrapper .inner .content .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}
#projects .wrapper .inner .content .projects-list .project-card {
  display: inline-block;
  width: auto;
  background-color: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(30px);
}
#projects .wrapper .inner .content .projects-list .project-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}
#projects .wrapper .inner .content .projects-list .project-card.fade-out {
  opacity: 0;
  transform: translateY(30px);
}
#projects .wrapper .inner .content .projects-list .project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#projects .wrapper .inner .content .projects-list .project-card .project-image-container {
  width: auto;
  height: auto;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#projects .wrapper .inner .content .projects-list .project-card .project-image-container .project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details {
  padding: 20px;
  font-family: "Maven Pro", sans-serif;
}
@media screen and (min-width: 712px) {
  #projects .wrapper .inner .content .projects-list .project-card .project-details {
    padding: 25px;
  }
}
@media screen and (min-width: 1024px) {
  #projects .wrapper .inner .content .projects-list .project-card .project-details {
    padding: 25px;
  }
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .project-title {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 10px;
  color: #333;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .project-description {
  font-size: 1rem;
  color: #666;
  margin: 20px 0 20px 0;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .tech-stack {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .tech-stack .tech-logo {
  width: 38px;
  height: 38px;
  transition: transform 0.3s ease;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .tech-stack .tech-logo:hover {
  transform: scale(1.2);
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .view-project-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 18px;
  background-color: var(--muted-color);
  color: var(--button-color);
  text-decoration: none;
  border-radius: 50px;
  transition: color 0.3s ease;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .view-project-btn:hover {
  color: var(--main-color);
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .secondary-action-btn {
  margin-left: 5px;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 18px;
  background-color: var(--button-color);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}
#projects .wrapper .inner .content .projects-list .project-card .project-details .secondary-action-btn:hover {
  background-color: var(--main-color);
}
