@use "scss_partials/general" as *;

#contact {
  padding: 120px 0 ; // Add padding to ensure enough height
  min-height: 400px; // Ensure the section has a minimum height
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;



  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .contact-wrapper {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;

    .contact-inner {
      .contact-content {
        max-width: 1200px;
        margin: 0 auto;
        .contact-header {
          text-align: center;
          margin: 100px 0 60px 0;
          font-family: $font;

          .header {
              font-size: 2.5rem;
              font-weight: 700;
              color: #333;
              opacity: 0;
              animation: fadeIn 1s ease-in-out 0.5s forwards;
          }

          .divider {
              width: 100px;
              height: 4px;
              background-color: var(--main-color);
              margin: 10px auto;
              margin-bottom: 20px;
              opacity: 0;
              animation: fadeIn 1s ease-in-out 0.5s forwards;
          }

          .contact-p {
              margin: 0;
          }
      }
        .contact-form {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          padding: 20px;
          padding-bottom: 70px;

          .contact-card {
            display: flex;
            flex-direction: column;
            gap: 35px;
            height: auto;
            max-width: 600px; // Adjust the max-width to make the card smaller
            border-radius: 15px; // Adjust the border-radius for a more professional look
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); // Adjust the box-shadow for a softer look
            background: #ffffff;
            font-family: $font;
            opacity: 0;
            padding: 20px;
            animation: fadeIn 1s ease-in-out 1s forwards;

            @include screensize($tablet) {
              gap: 20px;
              padding: 30px;
              display: grid;
              grid-template-columns: 1fr 1fr;
            }
            @include screensize($desktop) {
              gap: 20px;
              padding: 30px;
              display: grid;
              grid-template-columns: 2fr 1fr;
            }

            .name-role {
              text-align: left; // Align the text to the left
              display: flex;
              flex-direction: column;

              h2 {
                font-size: 1.5rem; // Adjust the font-size for a more balanced look
                font-weight: 200;
                color: #333;
                margin-top: 20px;
                margin-bottom: 5px;
              }

              p {
                font-size: 1rem;
                margin: 0;
                color: #666;

                a {
                  text-decoration: none;
                  color: #0056b3;
                }
              }

              .role {
                margin-bottom: 15px;
                font-size: 0.8rem;
                text-transform: uppercase;
              }

              .divider {
                width: 100%; // Full width of the container
                height: 1px; // Thickness of the line
                background-color: #ccc; // Light gray color for the line
                margin: 1rem 0; // Add spacing above and below the line
              }
            }
            .social-media {
              display: flex;
              justify-content: left; // Center the entire social media section horizontally
              align-items: left; // Center the entire social media section vertically

              @include screensize($tablet) {
                justify-content: center; // Center the entire social media section horizontally
              align-items: center; // Center the entire social media section vertically

              }
              @include screensize($desktop) {
                justify-content: center; // Center the entire social media section horizontally
              align-items: center; // Center the entire social media section vertically

              }


                ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                gap: 15px;
                justify-content: left; // Align the list items to the left horizontally
                align-items: left; // Align the list items to the left vertically

                @include screensize($tablet) {
                flex-direction: column;
                align-items: left; // Align items to the left on tablet
                }

                @include screensize($desktop) {
                flex-direction: column;
                align-items: left; // Align items to the left on desktop
                }

              li {
                margin: 0;

                a {
                display: flex;
                align-items: center; // Center the icon and text vertically
                justify-content: left; // Align the icon and text to the left
                text-decoration: none;
                color: var(--main-color); // Use your main color
                font-size: 1.5rem; // Adjust icon size
                transition: transform 0.3s ease, color 0.3s ease;

                span {
                  margin-left: 10px; // Add spacing between the icon and text
                  font-size: 1rem;
                  color: #666;
                  display: none; // Hide text on mobile screens

                  @include screensize($tablet) {
                  display: inline-block; // Show text on tablet screens
                  }

                  @include screensize($desktop) {
                  display: inline-block; // Show text on desktop screens
                  }
                }

                &:hover {
                  transform: scale(1); // Enlarge on hover
                  color: var(--hover-color); // Optional hover color
                }
                }
              }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
