@use "scss_partials/general" as *;

#projects {
  margin: 100px 0 100px 0;
  opacity: 0; // Initially hidden
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(30px);
  }

  .wrapper {
    .inner {
      max-width: 1200px;
      margin: 0 auto;

      .content {
        .project-header {
          text-align: center;
          margin: 100px 0 60px 0;
          font-family: $font;

          .header {
              font-size: 2.5rem;
              font-weight: 700;
              color: #333;
              opacity: 0;
              animation: fadeIn 1s ease-in-out 0.5s forwards;
          }

          .divider {
              width: 100px;
              height: 4px;
              background-color: var(--main-color);
              margin: 10px auto;
              margin-bottom: 20px;
              opacity: 0;
              animation: fadeIn 1s ease-in-out 0.5s forwards;
          }

          .project-p {
              margin: 0;
          }
      }

        .projects-list {
          display: grid;
          grid-template-columns: 1fr; // Default to one column
          gap: 20px;
          row-gap: 40px;
          margin: 20px 25px 20px 25px;

          @include screensize($tablet) {
            grid-template-columns: 1fr 1fr; // Use auto to fit content
          }

          @include screensize($desktop) {
            grid-template-columns: 1fr 1fr 1fr; // Use auto to fit content
          }

          .project-card {
            display: inline-block;
            width: auto;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease,
            opacity 0.5s ease;
            opacity: 0; // Initially hidden
            transform: translateY(30px);

            &.fade-in {
              opacity: 1;
              transform: translateY(0);
            }

            &.fade-out {
              opacity: 0;
              transform: translateY(30px);
            }

            &:hover {
              box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            .project-image-container {
              width: auto;
              height: auto;
              overflow: hidden;
              border-top-left-radius: inherit;
              border-top-right-radius: inherit;

              .project-image {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
              }
            }

            .project-details {
              padding: 20px;
              font-family: $font;

              @include screensize($tablet) {
                padding: 25px;
              }
              @include screensize($desktop) {
                padding: 25px;
              }


              .project-title {
                font-size: 1.5rem;
                font-weight: 200;
                color: #333;
              }

              .project-description {
                line-height: 1.3rem;
                font-size: 1rem;
                color: #666;
                margin: 15px 0 20px 0;
              }

              .tech-stack {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
            
                .tech-icon {
                    font-size: 2rem; // Adjust icon size
                    color: var(--main-color); // Use your main color
                    transition: transform 0.3s ease, color 0.3s ease;
            
                    &:hover {
                        transform: scale(1.2); // Enlarge on hover
                        color: var(--hover-color); // Optional hover color
                    }
                }
            }

      

                .view-project-btn {
                  display: inline-block;
                  margin-top: 20px;
                  padding: 8px 18px;
                  background-color: var(--main-color);
                  color: white;

                  text-decoration: none;
                  border-radius: 10px;
                  transition: all 0.5s ease;
           

                  &:hover {
                    color: #fff;
                    background-color: var(--hover-color);
                  }
                }

                .secondary-action-btn {
                  margin-left: 5px;
                  display: inline-block;
                  margin-top: 20px;
                  padding: 8px 18px;
                  color: var(--main-color);
                  text-decoration: none;
                  border-radius: 10px;
                  border: 2px solid var(--main-color);
                  transition: background-color 0.3s ease;

                  &:hover {
                    background-color: var(--main-color);
                color: #fff;
                  }
                }
              
            }
          }
        }
      }
    }
  }
}
