:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71; 
    --accent-color: #e74c3c; 
    --background-color: #ecf0f1; 
    --text-color: #2c3e50; 
    --muted-color: #eee;
    --main-color: #5271ff;
    --black-color: #000;
    --button-color: #5b5b5b;
}